@import 'src/styles/theme';

.sidenav-container {
  height: 100vh;
  background: var(--bg-color);

  .sidenav {
    width: 240px;
    background: var(--white);
    box-shadow: var(--shadow-light);
    border-right: 1px solid #eee;

    mat-list-item {
      border-radius: 6px;
      margin: 4px 8px;
      padding: 8px 12px;
      transition: all 0.2s ease;

      mat-icon {
        color: var(--primary-color);
      }

      &:hover {
        background: var(--primary-light);
        transform: translateX(3px);
      }

      span {
        font-weight: 500;
        color: var(--text-color);
      }
    }

    mat-divider {
      margin: 12px 0;
    }
  }
}
