.org-create-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  mat-card {
    width: 400px;
    padding: 2rem;
    h2 {
      color: #1976d2;
      margin-bottom: 1rem;
    }
  }
}

.full-width {
  width: 100%;
}
